 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  font-family: Campotype-Timesquare;
  font-size: 3rem;
  margin: 26px auto 0;
}

.u-section-1 .u-form-1 {
  width: 570px;
  margin: 26px auto 0;
}

.u-section-1 .u-btn-1 {
  width: 50%;
  padding: 10px 31px 10px 30px;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  align-self: center;
  margin: 39px auto 47px;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}@font-face {
  font-family: 'Campotype-Timesquare';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Campotype-Timesquare.otf);
}